@import "tailwindcss";

@theme {
  --color-gray-900: #202124;
  --color-gray-800: #3c4043;
  --color-gray-700: #5f6368;
  --color-gray-600: #80868b;
  --color-gray-500: #9aa0a6;
  --color-gray-400: #bdc1c6;
  --color-gray-300: #dadce0;
  --color-gray-200: #e8eaed;
  --color-gray-100: #f1f3f4;
  --color-gray-50:  #f8f9fa;

  --color-indigo-400: #01875f;
  --color-indigo-500: #01875f;
  --color-indigo-600: #006b4b;

  --color-cyan-400: #01875f;
  --color-cyan-500: #01875f;
  --color-cyan-600: #006b4b;
}

body {
  background-color: #ffffff;
  color: var(--color-gray-900);
}
/* Personnalisation globale des barres de défilement pour toute la plateforme */
::-webkit-scrollbar {
  width: 6px; /* Barre verticale très fine */
  height: 6px; /* Barre horizontale très fine */
}

::-webkit-scrollbar-track {
  background: transparent; /* Fond invisible */
}

::-webkit-scrollbar-thumb {
  background: #374151; /* Couleur grise discrète (gray-700) */
  border-radius: 10px; /* Bords arrondis */
}

::-webkit-scrollbar-thumb:hover {
  background: #4f46e5; /* Devient indigo-600 au survol pour montrer qu'on peut cliquer */
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
